[Desktop Entry]
Name=PolonOS Kalendarz
Comment=Menedżer Kalendarza Google (systray)
Exec=/usr/bin/polonos-kalendarz
Icon=polonos-kalendarz
Terminal=false
Type=Application
Categories=Office;Calendar;Utility;
StartupNotify=true
